
<form class="">
  <div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control" placeholder="hello@gmail.com">
    <small id="emailHelp" class="text-warning">* Không được bỏ trống trường này</small>
  </div>
  <div class="form-group">
    <label>Mật khẩu</label>
    <input type="password" class="form-control" placeholder="password">
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input">
      Nhớ đăng nhập
    </label>
  </div>
  <div class="text-center mt-4">
  	<a routerLink="/order"><button type="submit" class="btn btn-info-reverse mb-2">Submit</button></a>
    <br>
    <small><a routerLink="/reset-password"><u>Quên mật khẩu? </u></a></small>
  </div>
</form>